* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}
html {
    min-height: 100%;
    position: relative;
    cursor: crosshair;
}
body {
    width: 100%;
    word-wrap: normal;
    background-image: url(../assets/fotos/icono.png);
    background-repeat: repeat;
    background-size: auto;
    margin: 0;
    background-attachment: fixed;

    
}
/* GRIDS */
.gridContainer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 4fr 4fr 1fr;
    grid-template-areas:"top top top" "header header header""description main main""multimedia multimedia multimedia""footer footer footer";
    width: 100%;
    height: 1500px;
    column-gap: 2%;
    justify-content: center;
}

/* FIN GRIDS */

/* ELEMENTOS BASE */
.header {
    grid-area: header;
    margin-bottom: auto;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 0.5vh 0 0  rgba(0, 0, 0, 0.623);
    
}
.description {
    grid-area: description;
    background-image: url(../assets/fotos/fondo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px groove grey;
    padding: 4%;
    position: static;
    margin-top: 5vh;
    color: black;
}
.main {
    grid-area: main;
    background-image: url(../assets/fotos/fondo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4%;
    border: 5px groove grey;
    justify-content: start;
    max-height: 1000px;
    margin-top: 5vh;

    

}
.multimedia {
    grid-area: multimedia;
    background-image: url(../assets/fotos/fondo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px groove grey;
    margin-top: 5vh;
    
}
.footer {
    grid-area: footer;
    background-color: black;
    height: 17vh;
    width: 100%;
    border: 5px groove grey;
    margin-top: 5vh;
    bottom: 0;

}
.topGrid {
    grid-area: top;
    background-image: url(../assets/fotos/fondo2.jpg);
    background-repeat: repeat;
}

/* ELEMENTOS SECUNDARIOS */

/* MENU */

.menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    color: white;
    height: 20vh;
    top: 0;

}
    .navContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: inherit;
        align-items: center;
        flex-direction: row;
        justify-content: end;

        
    }
    .navInicio {
        color: rgb(150, 4, 4);
        white-space: nowrap;
        flex-direction: row;
        text-decoration: none;
        padding-left: 15%;
        font-family: titulos; 
    }
    .navInicio:hover {
        text-decoration: line-through;
        color: rgb(150, 4, 4);
        font-size: larger;
    }
    .navItems {
        list-style: none;
        text-decoration: none;
        padding-top: 2% ;
        font-family: titulos; 
    }
    .navImg {
        max-width: 20% ;
        max-height: 20%;
        float: left;
        padding-right: 2%;
    }
.banner {
    display: flex;
    flex-direction: column ;
    text-align: center;
    justify-content: center;
    color: #e3e4e5;
    
}


/* CARDS */
.cards {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    
    
}
.card {
    display: flex;
    flex-direction: column;
    width: 450px;
    min-height: 350px;
    margin: 2%;
    background-color: rgb(0, 0, 0);
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.555);
    margin-top: 7%;
    
}
.card:hover {
    transform: scale(1.2);
   
}

.cardImg {
    width: 100%;
    height: 100%;
    background-image: url(../assets/fotos/SHOWSIMG.png);
    background-size: cover; 
    border-radius: 3px 3px 0px 0px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.cardBody {
    color: rgb(150, 4, 4);

}

.cardButton {
   width: 100%;
   height: 3rem;
   background-color: rgba(0, 0, 0, 0.800);
   border-color: rgb(0, 0, 0);
   color: rgb(150, 4, 4);
   -webkit-text-stroke: 0.7px rgb(0, 0, 0);
}
.cardButton:hover {
    cursor: pointer;
    color: white;

}
.cardTitle {
    text-align: center;
    color: rgba(255, 255, 255, 0.274);
    -webkit-text-stroke: 0.7px rgb(0, 0, 0);
    text-decoration: underline rgb(97, 8, 8);
    font-size: larger;
    flex-direction: column;
    align-content: end;
    background-color: rgba(150, 4, 4, 0.76);
}
.cardPrice {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.600);
    -webkit-text-stroke: 0.7px rgb(0, 0, 0);
    font-family: precios;
    font-size: x-large;
}

/* DESCRIPCION BANDA */

.infoDesc {
    font-family: texto;
    font-display: swap;
    line-height: 3rem ;
    text-decoration: double;
    font-size: xx-large;
    overflow: auto;
    color: black;

}


.titulos {
    font-family: titulos;
    font-size: xx-large;
    margin-top: 3%;
    text-align: center;
    background-color: rgba(150, 4, 4, 0.664);
    
}
.t1 {
    background-color: rgba(128, 128, 128, 0.669);
}


.l1:hover {
    text-decoration: line-through;
        color: rgb(150, 4, 4);
        font-size: larger; 
}
.l2:hover {
    text-decoration: line-through;
        color: rgb(150, 4, 4);
        font-size: larger;  
}
.l3:hover {
    text-decoration: line-through;
        color: rgb(150, 4, 4);
        font-size: larger;  
}
.link {
    color: white;
    white-space: nowrap;
    flex-direction: row;
    text-decoration: none; 
}

/* GALERIA */
.galeria {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 7px;
    grid-row-gap: 7px;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.f1 { 
    grid-area: 1 / 1 / 2 / 2;
    max-width: 80%;
 }
.f2 { grid-area: 1 / 2 / 2 / 3;
    max-width: 80%; }
.f3 { grid-area: 1 / 3 / 2 / 4; 
    max-width: 80%;}
.f4 { grid-area: 2 / 1 / 3 / 2;
    max-width: 80%; }
.f5 { grid-area: 2 / 2 / 3 / 3; 
    max-width: 80%;}
.f6 { grid-area: 2 / 3 / 3 / 4;
    max-width: 80%; }

/* fuentes */
@font-face {
    font-family: "titulos";
    src: url(../assets/fonts/Cinzel-VariableFont_wght.ttf);
    
}
@font-face { 
font-family: "precios";
src: url(../assets/fonts/Caveat-VariableFont_wght.ttf);
} 
@font-face {
    font-family: "texto";
    src: url(../assets/fonts/ShadowsIntoLight-Regular.ttf);
}


/* FORMULARIO */
.gridFormContainer {
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 0.5fr) 3fr 1fr;
    grid-template-areas:"top""header""main""footer";
    justify-content: center;
}
input[type=text],texta select, rea {
    width: 70%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    color: white;
    padding-left: 10%;
    font-size: larger;
    text-decoration: underline;
}

input[type=submit] {
    background-color: rgba(126, 1, 1, 0.534);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #5a5a5a;
}

.container {
    grid-area: main;
    width: 100%;
    border-radius: 5px;
    background-color: #000000;
    padding: 20px;
    width: 90%;
    margin-left: 3%;
    margin-top: 5vh;
}
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }  

  /* TIENDA */

.catalogo {
    width: 85%;
    height: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    align-content: space-evenly;
    justify-content: space-evenly;
    
}

.shopCard1 {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 70%;
    border: #000000 groove 3px;
    box-shadow: #00000079 3px 3px 3px;
    background-color: black;
    margin-bottom: 5vh;
}
.shopCard2 {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 70%;
    border: #000000 groove 3px;
    box-shadow: #00000079 3px 3px 3px;
    background-color: black;
    margin-bottom: 5vh;
}

.shopCard3 {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 70%;
    border: #000000 groove 3px;
    box-shadow: #00000079 3px 3px 3px;
    background-color: black;
    margin-bottom: 5vh;
}

.shopCard4 {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 70%;
    border: #000000 groove 3px;
    box-shadow: #00000079 3px 3px 3px;
    background-color: black;
    margin-bottom: 5vh;
}

.shopCard5 {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 70%;
    border: #000000 groove 3px;
    box-shadow: #00000079 3px 3px 3px;
    background-color: black;
    margin-bottom: 5vh;
}

.shopCard6{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 70%;
    border: #000000 groove 3px;
    box-shadow: #00000079 3px 3px 3px;
    background-color: black;
    margin-bottom: 5vh;
}


.shopImg {
    max-height: 400px;
    min-height: 400px;
}
.shopBtn {
    width: 100%;
    height: 10vh;
    color: rgb(97, 8, 8);
    background-color: rgb(54, 54, 54);

}
.shopPrice {
    background-color: rgb(0, 0, 0);
    color: white;
    height: fit-content;
}
.shopDesc {
    background-color: rgb(0, 0, 0);
    color: white;
    height: fit-content;
}
.options {
    display: flex;
    flex-direction: column;
    list-style: none;
    flex-wrap: nowrap;
}


.scale-in-center {
	animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes scale-in-center {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .scale-in-hor-left {
	animation: scale-in-hor-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

  @keyframes scale-in-hor-left {
    0% {
      transform: scaleX(0);
      transform-origin: 0% 0%;
      opacity: 1;
    }
    100% {
      transform: scaleX(1);
      transform-origin: 0% 0%;
      opacity: 1;
    }
  }

  .vibrate-3 {
	animation: vibrate-3 0.5s linear infinite both;
}
@keyframes vibrate-3 {
    0% {
      transform: translate(0);
    }
    10% {
      transform: translate(-2px, -2px);
    }
    20% {
      transform: translate(2px, -2px);
    }
    30% {
      transform: translate(-2px, 2px);
    }
    40% {
      transform: translate(2px, 2px);
    }
    50% {
      transform: translate(-2px, -2px);
    }
    60% {
      transform: translate(2px, -2px);
    }
    70% {
      transform: translate(-2px, 2px);
    }
    80% {
      transform: translate(-2px, -2px);
    }
    90% {
      transform: translate(2px, -2px);
    }
    100% {
      transform: translate(0);
    }
  }
  
  /* footer */

   